


 <div class="profile-body">

    <div class="profile-box"> 
        <div class="box-content">
           <h2>Reset Password</h2>
            <% if (message) { %>
                <p><%= message %> </p>
            <% } %>
            <hr>
            <div class="form-wraper">
                <form action="/user/resetPassword" method="POST">

                    <div class="form-group">
                        <label for="">New Password</label>
                        <input name="newPassword" type="password">
                    </div>

                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input name="confirmPassword" type="password">
                    </div>

                    <div class="form-group">
                        <button type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>